/*
- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)
- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)
*/

$Cyan: hsl(179, 62%, 43%);
$Cyan2: hsl(179, 47.5%, 52.5%);
$Bright-Yellow: hsl(71, 73%, 54%);
$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue: hsl(218, 22%, 67%);

$Grayish-Blue-Shade: hsla(218, 22%, 67%, 0.25);

$normal-weight: 400;
$bold-weight: 700;

$normal-font-size: 16px;
